.popup__submit-button_disabled {
    border: 1px solid #000000;
    box-sizing: border-box;
    color: #000000;
    background: #fff;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: .2;
}